*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#000119;
    font-family: Verdana;
}
nav{
    width: 100%;
    height:80px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{   
    padding: 20px;
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
}
span{   
    color: red;
    
}

.main a{
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    transition: 0.4s;
}
.main a:hover{
    color:#f9004d;
}
.bio{
    width: 100%;
    padding: 10px 0px;
    background-color:#000119;
}
.bio img{
   height: 500px;
   width: 400px;
   
}
.text{
    width: 550px;
}
.rap{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .text h1{
    color:#4fb9b3;
    font-size: 65px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .text h4{
    color:white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }
  span1{
      color:#f9004d;
  }
  .about{
    width: 100%;
    padding: 118px 0px;
    background-color:#000119;
  }
  .about img{
    height: auto;
    width: 420px;
  }
  .about-text{
    width: 550px;
  }
  .main2{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about-text h1{
    color:white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .about-text h4{
    color:white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }
  span{
    color: #f9004d;
  }
  .about-text p{
    color: #53afee;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    font-family: sans-serif;
  }
  button{
    background:#e3001a ;
    color: white;
    text-decoration: none;
    outline: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
  }
  button:hover{
    transform: scale(1.1);
    cursor: pointer;
    outline: none;
  }

  .contact-me{
  width: 100%;
  height: 290px;
  background-color:#000119;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me p{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .button-two{
  background-color: #e3001a;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}

.contact-me .button-two:hover{
  background-color: transparent;
  border: 2px solid #e3001a;
  cursor: pointer;
}

footer{
  position: relative;
  width: 100%;
  height: 300px;
  background-color:#000119;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1){
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.social{
  display: flex;
}

.social a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social a:hover{
  transform: scale(1.3);
  transition: 0.3s;
}

.end{
  
  color: #f9004d;
}